<div class="dropdown" [ngStyle]="{display: this.showAll == true? 'block': 'none'}" >
        <div id="myDropdown" class="dropdown-content" [scrollTop]='scrollUp' [style.top.px]="top" [style.left.px]="left">
          <li *ngFor="let k of DateArr;" (click)='updateYear(k)'>{{k}}</li>
        </div>
    </div>
<div class="container mt-5">
    <div class="row mt-1">
        <div class="col-sm-6 d-flex text-center">
        <span class="col-sm-2 ml-1 mr-1">YEAR</span>
        <span class="col-sm-2 ml-1 mr-1">MONTH</span>
        <span class="col-sm-2 ml-1 mr-1">DAY</span>
        </div>
      </div>
    <div class="row">
     <div class="col-sm-6">
      <button class="btn btn-success col-sm-2 btn-responsive ml-1 mr-1" (click)='moveYearForward("year", yearSpan)'><i class="up"></i></button>
      <button class="btn btn-success col-sm-2 btn-responsive ml-1 mr-1" (click)='moveYearForward("month", monthSpan)'><i class="up"></i></button>
      <button class="btn btn-success col-sm-2 btn-responsive ml-1 mr-1" (click)='moveYearForward("date", dateSpan)'><i class="up"></i></button>
     </div> 
    </div>
    <div class="row mt-1">
      <div class="col-sm-6 d-flex text-center">
      <span class="display-text col-sm-2 ml-1 mr-1" (click)='showDropdown("year",$event,yearSpan)' id='year' #yearSpan>{{currentYear}}</span>
      <span class="display-text col-sm-2 ml-1 mr-1" (click)='showDropdown("month",$event,monthSpan)' id='month' #monthSpan>{{currentMonth}}</span>
      <span class="display-text col-sm-2 ml-1 mr-1" (click)='showDropdown("date",$event,dateSpan)' id='date' #dateSpan>{{currentDate}}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-sm-6">
      <button class="btn btn-success col-sm-2 btn-responsive ml-1 mr-1" (click)='moveYearBackward("year", yearSpan)'><i class="down"></i></button>
      <button class="btn btn-success col-sm-2 btn-responsive ml-1 mr-1" (click)='moveYearBackward("month", monthSpan)'><i class="down"></i></button>
      <button class="btn btn-success col-sm-2 btn-responsive ml-1 mr-1" (click)='moveYearBackward("date", dateSpan)'><i class="down"></i></button>
      </div>
    </div>
  </div>

 