<div class="container">
  <div class="row">
      <mat-card-content></mat-card-content>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HCL Technologies gains 5% on better-than-expected Q3 earnings</mat-card-title>
          <mat-card-subtitle>HCL Technologies was up for the sixth straight day, gaining 8 per cent, against 2 per cent decline in the S&P BSE Sensex.</mat-card-subtitle>
          <mat-card-subtitle>Business Standard</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
              Shares of HCL Technologies were up 5 per cent to Rs 1,035 apiece on BSE
              in the intra-day trade after the company reported a better-than-expected net profit
              of Rs 2,611 crore for the quarter ended December 2018 (Q3FY19) over the September quarter. 
              Revenue grew 5.6 per cent at Rs 15,699 crore sequentially.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openCommentBox()">Comment</button>
        </mat-card-actions>
      </mat-card>
      <mat-list>
        <mat-list-item *ngFor="let item of items | async">
          <img matListAvatar src="../assets/round-account_circle-24px.svg" alt="...">
          <h3 matLine> {{item.name}} </h3>
          <p matLine>
            <span class="demo-2"> {{item.comment}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-sm-1"></div>
  </div>  
</div>