.theme { 
    justify-content: center;
    background-color: #f4f4f4;
    width:60%;
    margin-left:20%;
    margin-top:1%;
    margin-bottom:2%;
    padding:20px;
    border-radius:30px;
    text-align: left;
    font-style: var(--themeFontStyle); 
    font-family:var(--themeFontFamily);
    color:var(--themeColor); 
    border: 0.5px solid var(--themeColor); 
  }
  .labelStyle{
    width:250px;
  }
  select,input{
    width:180px;
  }
  .buttonDiv{
    text-align:center;
  }
  button{
              border-radius: 20px;              
              cursor:pointer; 
              background-color: var(--themeColor);   
              font-style: var(--themeFontStyle);     
          }
       