@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$default-font: 'Open Sans', sans-serif;

// default colors
.theme-wrapper {
  --themeColor: #ffff;
  --themeTextAlignment:center;
  --themeFontStyle:normal;
  --themeFontFamily:'Open Sans', sans-serif;
}

$variables: (
   --themeColor: var(--themeColor),
   --themeTextAlignment: var(--themeTextAlignment),
  --themeFontStyle: var(--themeFontStyle),
  --themeFontFamily:var(--themeFontFamily)  
);