<div class="theme">
  <form #gsForm="ngForm" (ngSubmit)="onSubmit(gsForm)">
    <label class="labelStyle">Theme Color: </label>
    <input #themeColor name="globalThemeColor" type="color" ngModel>
    <br>
    <label class="labelStyle">Theme Text-Alignment:</label>
    <select name="globalThemeTextAlignment" ngModel>
    <option value="">Please select</option>
  <option value="left">Left</option>
  <option value="center">Center</option>
  <option value="right">Right</option>
</select>
    <br>
    <label class="labelStyle">Theme fony style: </label>
    <select name="globalThemeFontStyle" ngModel>
    <option value="">Please select</option>
  <option value="normal">normal</option>
  <option value="italic">italic</option>
</select>
    <br>
    <label class="labelStyle">Theme font-family: </label>
    <select name="globalThemeFontFamily" ngModel>
    <option value="">Please select</option>
    <option value="'Times New Roman', Times, serif">"Times New Roman", Times, serif</option>
  <option value="Georgia, serif">Georgia, serif</option>
  <option value="'Palatino Linotype', 'Book Antiqua', Palatino, serif">Palatino Linotype", "Book Antiqua", Palatino, serif</option>
  <option value="Arial, Helvetica, sans-serif">Arial, Helvetica, sans-serif</option>
  <option value="'Arial Black', Gadget, sans-serif">"Arial Black", Gadget, sans-serif</option>
  <option value="'Comic Sans MS', cursive, sans-serif">"Comic Sans MS", cursive, sans-serif</option>
  <option value="Impact, Charcoal, sans-serif">Impact, Charcoal, sans-serif</option>
  <option value="'Lucida Sans Unicode', 'Lucida Grande', sans-serif">"Lucida Sans Unicode", "Lucida Grande", sans-serif</option>
  <option value="Tahoma, Geneva, sans-serif">Tahoma, Geneva, sans-serif</option>
  <option value="'Trebuchet MS', Helvetica, sans-serif">"Trebuchet MS", Helvetica, sans-serif</option>
  <option value="Verdana, Geneva, sans-serif">Verdana, Geneva, sans-serif</option>
  <option value="'Courier New', Courier, monospace">"Courier New", Courier, monospace</option>
  <option value="'Lucida Console', Monaco, monospace">"Lucida Console", Monaco, monospace</option>  
</select>
    <br>
    <div class="buttonDiv">
      <button type="submit">Submit</button>
    </div>

  </form>
</div>