<div class="container">
	<button (click)="myFunction()" class="btn-default">Notification</button>
<input type="text" placeholder="enter any text" id="enteredText">
<div class="badgeContainer">
<div class="badge sucess" title="sucess count" name="sucessCount">{{sucessCount}}</div>
<div class="badge failure" title="failure count" name="failureCount">{{failureCount}}</div>
<div class="badge common" title="common count" name="commonCount">{{commonCount}}</div>
</div>
<div class="container">
  <label for="ipt"><input type="radio" name="option" value="sucess" checked><span>Success</span></label>
  <label for="ipt"><input type="radio" name="option" value="failure"><span>Failure</span></label>
  <label for="ipt"><input type="radio" name="option" value="common"><span>Common</span></label>

</div>
</div>

<div id="notificationBox">ganesh</div>