<<<<<<< HEAD
$grey-color: #969696;
$datetab-color: #333333;
$btn-primary: #2A6BB8;
$border-color: #C1C1C1;
$calendar-header-color:#F1F1F1;
$today-date-color:#FFCD11;
$label-border-color:#EAEAEA;
=======
$grey-color: #969696;
$datetab-color: #333333;
$btn-primary: #2A6BB8;
$border-color: #C1C1C1;
$calendar-header-color:#F1F1F1;
$today-date-color:#FFCD11;
$label-border-color:#EAEAEA;
>>>>>>> 4e760c76b04e8e760874b229923ed705a6b62ded
$date-picker-bgColor: white;